*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lexend';
    background: linear-gradient(to top, #232323, #141414);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.welcome-message {
    line-height: 0.85;
    text-align: center;
}

h2.welcome-title {
    font-size: 2.8125em;
    font-weight: 400;
    margin-bottom: 8px;
    line-height: 25px;
}

h1.welcome-title {
    font-size: 5em;
    font-weight: 400;
    margin-bottom: 0px;
}

h3.welcome-subtitle {
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 0px;
    line-height: 45px;
}

.button-container {
    margin: 20px;
}

.button {
    display: inline-block;
    padding: 10px 40px;
    background-image: linear-gradient(to right, #7dadd3, #65a1e7);
    color: white;
    text-decoration: none;
    border-radius: 8px;
    margin: 0 10px;
    font-size: 1em;
    transition: background-image 0.3s;
}

.button:hover {
    background-image: linear-gradient(to right, #5b9ed4, #3069ab);
    ;

}

footer {
    position: fixed; bottom: 0;
    color: grey;
    margin-bottom: 30px;
}

.footer-text {
    font-size: 0.9em;
    text-align: center;
