body {
    background: linear-gradient(to top, #232323, #141414);
    color: white;
    justify-content: left;
    align-items: center;
    display: flex;
    height: 100vh;
    margin: 0;
    font-family: 'Lexend';
}

h2 {
    color: red;
    font-size: 4.5em;
    font-weight: 400;
    line-height: 25px;
} 

p {
    line-height: 3px;
    font-weight: 400;

}
.button-container {
    margin: 20px;
}

.button {
    display: inline-block;
    padding: 5px 20px;
    background-image: linear-gradient(to right, #7dadd3, #65a1e7);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 0px;
    font-size: 1em;
    transition: background-image 0.3s;
}
.icon {
    position: relative;
    top: 2px;
    right: 3px;
}
.button:hover {
    background-image: linear-gradient(to right, #5b9ed4, #3069ab);
    ;

}
