* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lexend';
    background: linear-gradient(to top, #232323, #141414);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.welcome-message {
    line-height: 0.85;
    text-align: center;
}

h2.welcome-title {
    font-size: 3em;
    font-weight: 400;
    margin-bottom: 8px;
    line-height: 25px;
    padding-top: 1em
}

h1.welcome-title {
    font-size: 5em;
    font-weight: 400;
    margin-bottom: 0px;
}

p.welcome-subtitle {
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 0px;
    line-height: 45px;
}

.button-container {
    margin: 20px;
}

.button {
    display: inline-block;
    padding: 10px 40px;
    background-image: linear-gradient(to right, #7dadd3, #65a1e7);
    color: white;
    text-decoration: none;
    border-radius: 8px;
    margin: 0 10px;
    font-size: 1em;
    transition: background-image 0.3s;
}

.button:hover {
    background-image: linear-gradient(to right, #5b9ed4, #3069ab);
    ;

}

footer {
    position: bottom;
    color: gray;
    margin-bottom: 30px;
}

.footer-text {
    font-size: 0.9em;
    text-align: center;
}
 .popup {
            display: none;
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: #333;
            color: white;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            width: 300px;
            text-align: center;
        }
        .popup h2 {
            color: red;
            margin: 0 0 10px;
        }
        .popup p {
            margin: 0 0 20px;
            line-height: 1.5;
        }
        .agree-button {
            background-image: linear-gradient(to right, #7dadd3, #65a1e7);
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
            transition: background-image 0.3s;
        }
        .agree-button:hover {
              background-image: linear-gradient(to right, #5b9ed4, #3069ab);
        }
        .overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
        }
