* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lexend';
    background: linear-gradient(to top, #1c1c1c, #3a3a3a, #4f4f4f, #707070);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.welcome-message {
    text-align: center;
}

h2.welcome-title {
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 10px;
}

h1.welcome-title {
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 10px;
}

.button-container {
    margin: 20px;
}

.button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #4a90e2;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 10px;
    font-size: 1em;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #357ABD;
}

footer {
    text-align: bottom;
    color: grey;
    margin-bottom: 30px;
}

.footer-text {
    font-size: 0.9em;
    text-align: center;
}
